<style>

/*Margine src image*/
 .background{
  margin-top:40px; }

  /*styling src image*/
.container img {
width: 100%;
height: auto;
margin: -115px;
margin-bottom: 0px;
}	

/*adding button to src image*/
.container .button{
 position: absolute;
 top: 50%;
 left: 50%;

	cursor: pointer;
  	border-radius: 5px;
	margin-top: 30px;
	margin-left: -160px;

}


#score_div{

  font-size: 20px;
  font-family: elephant;
  margin-top:  20px;
  margin-left: 30px;
  position: absolute;
  
  background-color: white;
  color: #454545;
  padding: 20px;
  box-shadow: 4px 4px 0px 1px #808080;
}


.button {
  padding: 5px 15px;
  font-size: 40px;
  color: black;
  background-color: #A9A9A9;
  border: none;
  border-radius: 7px;
  box-shadow: -0 7px #555;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: -2000px;

}

.button:hover{background-color: none

	  
  cursor: pointer;
  outline: none;
}

.button:active {
  background-color: ;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

  * { 
      /*outline: 1px dotted purple; */
    }


    #deta{
      margin-left: 30px;
      margin-top:-500px;
      font-size: 20px;
      font-family: corbel;
    }

/*assign world as the body */
    #world {
      line-height: 0px;
      margin: -2px;
      margin-top:40px;
    }

/*paakman attributes*/
    .wall {
      width: 50px;
      height: 50px;
      background-image: url('wall.png');
      display: inline-block;
    }
    .coin {
      width: 50px;
      height: 50px;
      background-image: url('coin.png');
      display: inline-block;
    }
    .coin1 {
      width: 50px;
      height: 50px;
      background-image: url('coin1.png');
      display: inline-block; }
   

    .ground {
      width: 50px;
      height: 50px;
      background-image: url('bg.png');
      display: inline-block;
    }    

    .ghost {
      width: 50px;
      height: 50px;
      background-image: url('ghost2.png');
      display: inline-block; 
    }  



    /*pacman direction was initialize as right*/
     .pacman{
      width: 50px;
      height: 50px;
      background-image: url('pacmandirection/pacman.png');
      display: inline-block;
      }

      /*this are the directions that will be called in the script*/
      .pacmandown{
      width: 50px;
      height: 50px;
      background-image: url('pacmandirection/pacmandown.gif');
      display: inline-block;
      }

      .pacmanup{
      width: 50px;
      height: 50px;
      background-image: url('pacmandirection/pacmanup.gif');
      display: inline-block;
      }


      .pacmanleft{
      width: 50px;
      height: 50px;
      background-image: url('pacmandirection/pacmanleft.gif');
      display: inline-block;
      }

      .pacmanright{
      width: 50px;
      height: 50px;
      background-image: url('pacmandirection/pacmanright.gif');
      display: inline-block;
      }


</style>